
.logo_block{
    width: 20px;
    height: 30px;
    background-color: #06088b;
    position: absolute;
    transform: rotateZ(20deg);
    left: 10px;
}

.logo_block_two{
    width: 20px;
    height: 30px;
    background-color: #b10311;
    position: absolute;
}

.logo{
    position: relative;
}

.logo_name{
    position: relative;
    z-index: 2;
    font-size: 20px;
}

header{
    margin-bottom: 40px;
}