.new_head_text{
    font-size: 36px;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.symbol{
    font-size: 48px;
    transform: translateY(-15px);
}

.symbol_container{
    display: flex;
    gap: 24px;
}

.symbol_container_element{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.type{
    color: rgb(172, 172, 172);
}

.input{
    padding: 6px;
    min-width: 320px;
    margin-top: 50vh;
}

.feedback_text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.correct .feedback_text {
    color: green;
}
.wrong .feedback_text {
    color: red;
}

.popup{
    position: absolute;
    top: 30vh;
    left: calc(50% - 175px);
    width: 100vw;
    max-width: 350px;
}

.popup_wrong{
    background-color: #b84650;
}

.popup_correct{
    background-color: #6fcc58;
}