.new_head_text{
    font-size: 36px;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.symbol{
    font-size: 48px;
    transform: translateY(-15px);
}

.symbol_container{
    display: flex;
    gap: 24px;
}

.symbol_container_element{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.type{
    color: rgb(172, 172, 172);
}

.input{
    margin-top: 20px;
    padding: 4px;
}